<div class = "text-center m-4">
  <h1 class= "m-4"><%@result.each do |result|%></h1>
  <h2 class = "m-4">タイトル: <%=result["memo_title"]%></h2>
  <h2 class = "m-4">内容: <%=convert_to_br(result["memo_body"])%></h2>
  <h2 class = "m-4">更新日時: <%=result["updated_at"]%></h2>
  <%end%>
  <p><a class = "btn btn-primary m-4 px-1" href="/memos/<%= @id%>/edit">メモを変更する</a> </p>
  <form action="/memos/<%=@id %>" method="post" >
    <input type="hidden" name="_method" value="delete">
    <input class=  "btn btn-danger px-4" type="submit" value = 削除する> 
  </form>
</div>
